
body {
    background-color: #121212;
    color: #e6e6e6;
}

h1 {
    font-weight: 700;
    color: #4c8dff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.form-wrapper {
    background: #1e1e1e;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.6);
    border: 1px solid #2d2d2d;
}

.form-control {
    background-color: #111;
    border: 1px solid #333;
    color: #eaeaea;
    padding: 10px 14px;
    border-radius: 10px;
    transition: 0.25s;
}

    .form-control::placeholder {
        color: #777;
    }

    .form-control:focus {
        border-color: #4c8dff;
        box-shadow: 0 0 8px rgba(76, 141, 255, 0.4);
    }

.btn-primary {
    background-color: #4c8dff;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.25s;
}

    .btn-primary:hover {
        background-color: #3b79e6;
    }

.btn-success {
    background-color: #34c759;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding: 8px 15px;
}

    .btn-success:hover {
        background-color: #28a745;
    }

.table {
    background-color: #1b1b1b;
    color: #eaeaea;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.6);
}

    .table thead {
        background: #000;
        color: #4c8dff;
        text-transform: uppercase;
        font-size: 0.9em;
    }

    .table tbody tr {
        border-color: #333 !important;
    }

        .table tbody tr:hover {
            background-color: #222;
            transition: 0.2s;
        }

    table.table tbody tr td {
    color: #ffffff !important; 
}

    table.table tbody tr {
    background-color: #1e1e1e !important;
}

    table.table tbody tr:hover {
        background-color: #2b2b2b !important;
    }
